@import '../../vars';

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(37, 37, 43, 0.5);

    &.active {
        display: block;
    }
    
    .inner {
        position: relative;
        min-height: 100vh;

        .dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 300px;
            max-width: 800px;
            transform: translate(-50%, -50%);
            border-radius: .4em;
            background: $bg;
            box-shadow: 0 0 2em rgba(0, 0, 0, .3);

            .title {
                display: flex;
                font-weight: bold;
                font-size: 1.2em;
                padding: 1.4em 1.4em 1em 1.4em;
                border-bottom: 1px solid $border-color;
                
                span:first-child {
                    flex: 1;
                }
                
                span:last-child {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    padding: 4px;
                    margin-top: -8px;
                    border-radius: 100%;

                    &:hover {
                        background: rgba(153, 153, 153, .1);
                    }

                    &:active {
                        background: rgba(153, 153, 153, .15);
                    }
                }
            }

            .content {
                padding: 1.4em;
                line-height: 1.6em;
            }

            .actions {
                padding: 1.4em;
                text-align: right;
                background: rgba(0, 0, 0, .1);

                button {
                    margin-left: .5em;
                }
            }
        }
    }
}
